<div id="container">
  <div id="wrapper">
    <div id="column_left">

    </div>
    <div id="column_middle">

    </div>
    <div id="column_right">

    </div>
  </div>
  <div id="footer">

  </div>
</div>