<h1>hackday fake-wiki</h1>
<h2>written in germish language</h2>

<h3>javascript files</h3>
<p>
  javascript files path:<br />
  - hackday/app/assets/javascripts<br />
  werden automatisch geladen - ansonsten app/assets/javascripts/application.js editieren
</p>

<h3>images</h3>
<p>
  images path<br />
  - hackday/app/assets/images/
</p>

<hr />

<h3>filesharing</h3>
<p>
  /share
</p>

<hr />

<h3>view all <%= link_to "logs", logs_path %></h3>

<hr />

<ul>
  <li>
    <%= link_to "root", root_path %>
  </li>
  <li>
    <%= link_to "home", home_path %>
  </li>
  <li>
    <%= link_to "view all logs", logs_path %>
  </li>
</ul>


<p>
  have fun.
</p>