<script type="text/javascript">
  $(function() {
    // Set focus on message field
    $("#log_body").focus();
    
    var socket            = new Pusher('9b398a15a5cdeb082e7d');
    var presence_channel  = socket.subscribe('presence-channel');
    var channel           = socket.subscribe('comments');

    presence_channel.bind('pusher:subscription_succeeded', function(members) {
      update_member_count(presence_channel.members.count);
      members.each(function(member) {
        add_member(member.id, member.info);
      });
    });

    presence_channel.bind('pusher:member_added', function(member) {
      add_member(member.id, member.info);
      update_member_count(presence_channel.members.count);
    });

    presence_channel.bind('pusher:member_removed', function(member) {
      remove_member(member.id);
      update_member_count(presence_channel.members.count);
    });
    
    channel.bind('comment', function(data) {
      $("<p>["+data.short_time+"] "+data.name+": "+data.body+"</p>").appendTo("#debug_window");
      $("#new_log").reset();
      $("#log_body").focus();
      push_comment();
    });
    
  })
  
  function update_member_count(count) {
    $("#count").text(count + " users");
  }

  function add_member(member_id, member_info) {
    $("<li id='member_id_"+member_id+"'>"+member_info.name+"</li>").appendTo("#members");
  }

  function remove_member(member_id) {
    $("#member_id_" + member_id).remove();
  }
</script>

<div style="background-color: white">
  
  
  <h2>Realtime debug:</h2>
  <div id="debug_window">
  </div>

  <%= form_for Log.new, :remote => true do |f| %>
    <p>
      <%= f.text_field :body, :autocomplete => "off" %>
      <%= f.text_field :timestamp, :autocomplete => "off", :style => "width: 30px" %>
      <%= f.submit "Send" %>
    </p>
  <% end %>

  <hr />

  <div id="count">Loading members count …</div>

  <ul id="members">
  </ul>
</div>