<div style="background-color: white">
  <h2>Realtime debug:</h2>
  <div id="debug_window">
  </div>

  <%= form_for Log.new, :remote => true do |f| %>
    <p>
      <%= f.text_field :body, :autocomplete => "off" %>
      <%= f.text_field :timestamp, :autocomplete => "off", :style => "width: 30px" %>
      <%= f.submit "Send" %>
    </p>
  <% end %>

  <hr />

  <div id="count">Loading members count …</div>

  <ul id="members">
  </ul>
</div>