/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset
@import compass/css3

$orange: #ff4300
$grey: #222

::-moz-selection
  background: $grey
  color: #fff
  text-shadow: none

::selection
  background: $grey
  color: #fff
  text-shadow: none

html, body
  width: 100%
  height: 100%
  margin: 0
  padding: 0

body.ui
  background: #444
  font: 14px/1.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif
  color: #222

  img
    display: block

  a
    text-decoration: none
    color: #000

  #container
    width: 1024px
    min-height: 100%
    position: relative
    float: left
    left: 50%
    margin-left: -512px
    z-index: 0
    background: #333
    @include box-shadow(rgba(0,0,0,.8) 0 0 20px)

  #background-center
    background: #444
    position: absolute
    top: 0
    bottom: 0
    width: 584px
    margin: 0 220px

  #wrapper
    width: 100%
    // padding-bottom: 44px
    overflow: hidden
    float: left

  #wrapper::before
    content: ""
    display: block
    position: absolute
    top: 0
    bottom: 0
    width: 584px
    z-index: 2
    margin: 0 220px
    @include box-shadow(rgba(0,0,0,.8) 0 0 20px)

  .column
    float: left
    position: relative
    z-index: 2

  #column_center
    width: 584px

    #video-minified
      width: 584px
      height: 44px
      @include background-image(linear-gradient(#f6f6f6, #c8c8c8))
      @include box-shadow(rgba(0,0,0,.8) 0 2px 15px)
      float: left
      position: relative
      z-index: 10
      
      img
        float: left
        margin: 4px

      h1
        font-size: 18px
        line-height: 44px
        margin-left: 4px
        float: left

      h2
        font-size: 14px
        line-height: 44px
        margin-left: 8px
        float: left
        color: #666
        padding-top: 1px

      .button-square
        float: right
        width: 36px
        height: 36px
        right: 4px
        top: 4px
        margin: 4px 4px 0 0

      #video-trigger-minified
        background: #222 image-url("ui/btn-video.png")
        width: 36px
        height: 36px
        float: right

      #info-trigger-minified
        background: $orange image-url("ui/btn-info.png")
        width: 36px
        height: 36px
        float: right

      #login
        height: 36px
        line-height: 36px
        color: #fff
        background: $orange
        width: 80px
        text-align: center
        float: right
        margin: 4px 4px 4px 0

    #infocard
      @include background-image(linear-gradient(#f6f6f6, #c8c8c8))
      padding-top: 20px
      width: 100%
      float: left
      z-index: 6
      position: relative
      overflow: hidden

      #teaser
        width: 300px
        float: left

        img
          border: 4px solid #222
          margin: 0 16px 10px 16px
          float: left

        #video-trigger
          background: $orange
          color: #fff
          margin-left: 16px
          padding: 6px 8px
          float: left

      #description
        width: 268px
        float: left
        
        span
          color: $orange
  
        h1
          font-size: 28px
          line-height: 28px
          margin-bottom: 5px
  
        h2
          margin-bottom: 10px

        p
          margin-bottom: 15px
  
          a
            color: $orange

    #video
      width: 584px
      height: 359px
      float: left
      margin-top: -323px
      z-index: 5
      position: relative
      margin-bottom: 4px

    #comment-entries
      float: left
      width: 364px
      margin-top: 10px
      margin-right: 20px

      .comment-entry
        float: left
        margin-left: 20px
        margin-bottom: 10px
        width: 344px

        .image
          width: 50px
          height: 50px
          background: #fff
          float: left
          @include box-shadow(rgba(0,0,0,.8) 0 2px 8px)
          margin-right: 10px

          img
            width: 46px
            height: 46px
            float: left
            margin: 2px 16px 2px 2px

        .bubble
          width: 264px
          float: left
          background: #333
          color: #fff
          padding: 10px
          position: relative

          .name
            float: left
            color: $orange
            width: 244px
  
          .message
            float: left
            width: 244px

        .bubble::after
          content: ""
          display: block
          width: 0
          height: 0
          position: absolute
          left: -6px
          top: 0
          border-top: 8px solid transparent
          border-bottom: 8px solid transparent
          border-right: 6px solid #333
          margin: 17px 0

    #members
      float: left
      width: 160px
      background: #333
      padding: 10px 20px
      margin-top: 10px

      p
        color: #fff
        margin-bottom: 10px

      li
        float: left
        margin-bottom: 0
        width: 160px
        height: 70px
        position: relative

        .time
          color: $orange
          position: absolute
          top: 24px
          left: 62px

        .name
          color: #fff
          position: absolute
          top: 6px
          left: 62px

        .profile
          width: 50px
          height: 50px
          background: #fff
          position: absolute
          top: 10px
          left: 0px
          @include box-shadow(rgba(0,0,0,.8) 0 2px 8px)

          img
            width: 46px
            height: 46px
            margin: 2px
            float: left

  #column_left
    width: 220px

    .sidebar-video-minified
      background: #444
      position: relative

      h3
        color: #222

    .sidebar-video-minified:hover
      @include background-image(linear-gradient(#f6f6f6, #c8c8c8))

      h3
        color: #222

  #column_right
    width: 220px

  .sidebar
    position: relative
    z-index: 0
    overflow: hidden

    .bookmark
      width: 12px
      height: 14px
      background: image-url("ui/bookmark-default-minified.png")
      position: absolute
      top: 0
      right: 6px
      z-index: 40

    .arte7
      width: 29px
      height: 11px
      background: image-url("ui/arte7.png")
      position: absolute
      bottom: 6px
      right: 6px
      z-index: 40

    .sidebar-video
      width: 180px
      @include background-image(linear-gradient(#f6f6f6, #c8c8c8))
      padding: 10px 20px
      float: left
      color: $orange
      margin-bottom: 4px
      position: relative

      .sidebar-title
        margin-bottom: 4px

      .sidebar-image
        border: 2px solid #222
        margin-bottom: 4px
        float: left

      h3
        color: #222

    .sidebar-video:hover
      background: #222

      img
        border-color: #ccc

      h3
        color: #ccc

    .sidebar-video-minified
      background: #222
      position: relative
      width: 170px
      padding: 10px 30px 10px 20px

      h3
        color: #ccc

    .sidebar-video-minified:hover
      @include background-image(linear-gradient(#f6f6f6, #c8c8c8))

      h3
        color: #222

  #footer
    width: 584px
    height: 44px
    position: absolute
    left: 220px
    bottom: 0
    z-index: 2

  #footer-inside
    width: 584px
    height: 44px
    float: left
    position: relative

    #comment_form
      
      input
        float: left
        height: 44px
        line-height: 44px
        width: 300px
        padding: 0
        margin: 0
        border: none
        padding-left: 12px
        font-size: 14px
        color: #888
        @include border-radius(0)

      #stamp_comment
        height: 26px
        width: 26px
        @include border-radius(18px)
        float: left
        display: inline-block
        border: none
        margin: 9px
        background: #444 image-url("ui/btn-stamp-default.png")

      #send_comment
        height: 26px
        line-height: 26px
        padding: 0 12px
        color: #fff
        @include border-radius(18px)
        float: left
        background: $orange
        display: inline-block
        border: none
        margin: 9px 9px 9px 0

      #share_comment
        height: 26px
        line-height: 26px
        padding: 0 12px
        color: #fff
        @include border-radius(18px)
        float: right
        background: #3B5998
        border: none
        font-size: 12px
        margin: 9px 9px 9px 0