<h1>All logs</h1>

<dl>
  <% @logs.each do |log| %>
    <dt>
      <%= log.user.email %> wrote at <%= log.at %>
    </dt>
    <dd>
      <%= log.body %>
    </dd>
  <% end %>
</dl>

<% if logged_in? %>
  <p>
    <%= link_to 'new log', new_log_path %>
  </p>
<% end %>